@tailwind base;
@tailwind components;
@tailwind utilities;

.invoice-table {
  counter-reset: recordCounter;
}
.product-id::before {
  counter-increment: recordCounter;
  content: counter(recordCounter);
}
.products-inventory {
  counter-reset: recordCounter;
}
.product-items::before {
  counter-increment: recordCounter;
  content: counter(recordCounter);
}
